---
layout: page
title: My blog
---
{% include JB/setup %}
<!--
<pre>
    <h4>向黎明致敬</h4>
　　看着这天
　　
　　因为它就是生命，生命中的生命。
　　
　　在它短短的时间里，
　　
　　储存着你所有的变化与现实；
　　
　　生长的福祐，
　　
　　行动的荣耀，
　　
　　成就的辉煌。
　　
　　因为昨天不是一场梦，
　　
　　而明天只是一个幻影，
　　
　　但是活在很好的今天，
　　
　　却能使每一个昨天都是一个快乐的梦，
　　
　　每一个明天都是希望的幻影。
　　
　　所以，好好把握这一天吧，
　　
　　这就是你对黎明的敬礼。
</pre>
-->
<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date : '%Y.%m.%d' }}</span> : <a href="{{ baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
